# Dependências instaladas pelo npm/yarn
node_modules

# Arquivo de configuração local do projeto
.env

# Proteção local de versão do npm
package-lock.json

# Bancos de dados locais (SQLite)
database/*.sqlite