.navbar-brand {
    font-family: "Pacifico";
}

/* Campo sem destaque até ser selecionado */
.form-faded {
    transition: 200ms;
}

.form-faded > input {
    background-color: transparent;
    transition: inherit;
}

.form-faded > button {
    transition: inherit;
}

.form-faded:focus-within > input {
    background-color: white;
}

.form-faded:focus-within > button {
    background-color: #007bff;
    border-color: #007bff;
}

/* Estiliza um botão como link */
.fake-button-link {
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilos para dispositivos móveis (tablets, smartphones) */
@media (max-width: 991.98px) {
    .navbar-nav > .nav-link, .navbar-text {
        padding: 8px;
        margin: 0 !important;
    }

    .navbar-nav > .navbar-text {
        padding: 8px 4px;
    }

    #user-name {
        padding-right: 0 !important;
    }

    .form-inline > .form-control {
        width: 100%;
    }

    .form-inline.flex-nowrap {
        flex-direction: column;
    }

    .form-inline.flex-nowrap > * {
        margin: 0.2em;
    }
}
