<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog.io // {{ pageName }} </title>
    <!-- Estilos -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="shared.css">
    <!-- Scripts -->
    <script defer src="vendor.js"></script>
    <script defer src="index.js"></script>
</head>
<body>
    <!-- Barra de navegação -->
    {{> navbar }}
    <!-- Conteúdo principal -->
    {{{ body }}}
</body>
</html>
