<br>
{{> header }}
<hr>
<div class="row">
    <!-- Menu lateral -->
    <div class="col-lg-4 col-md-12 order-lg-2">
        {{> sidebar }}
    </div>
    <!-- Ãrea dos posts -->
    <div class="col-lg-8 col-md-12 order-lg-1">
        {{#each posts}}
            {{> post }}
            <hr>
        {{/each}}
        {{#unless isLastPage}}
            <a class="text-center page-link w-100" href="/posts?page=1">Ver mais postagens</a>
            <br>
        {{/unless}}
    </div>
</div>