<br>
{{> header }}
<hr>
<div class="row">
    <!-- Menu lateral -->
    <div class="col-lg-4 col-md-12 order-lg-2">
        {{> sidebar }}
    </div>
    <!-- Área dos posts -->
    <div class="col-lg-8 col-md-12 order-lg-1">
        {{#each posts}}
            {{> post }}
            <hr>
        {{/each}}
        <div class="btn-group w-100">
        <a class="btn btn-light w-50 {{#if isFirstPage}} disabled {{/if}}" href="/posts/?page={{prevPage}}">Página anterior</a>
        <a class="btn btn-light w-50 {{#if isLastPage}} disabled {{/if}}" href="/posts/?page={{nextPage}}">Próxima página</a>
    </div>
    </div>
</div>