<div class="d-flex justify-content-between align-items-center">
    <h1>{{ header }}</h1>
    {{#if user }}
        <button class="btn btn-outline-success" onclick="newPost()">Criar novo post</button>
    {{/if}}
</div>