<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
    <div class="container d-flex justify-content-around">
        <a class="navbar-brand" href="/">Blog.io</a>
        <!-- Ítens da navegação -->
        <div class="navbar-nav flex-row mr-auto">
            <a class="nav-item nav-link {{ insertEquals "active" pageName "Home" }}" data-page="index" href="/">Home</a>
            <a class="nav-item nav-link {{ insertEquals "active" pageName "Posts" }}" data-page="posts" href="/posts">Posts</a>
        </div>
        {{#unless user }}
        <!-- Botão de opções extras na área de navegação para mobile -->
        <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end">
            <!-- Widget de login -->
            <script type="text/text" id="error"></script>
            <form class="nav-item form-inline flex-nowrap d-none form-faded" id="login-form" data-trigger="manual" action="/login" method="POST">
                <input class="form-control mx-1" name="name" type="text" required placeholder="Usuário">
                <input class="form-control mx-1" name="passwd" type="password" required placeholder="Senha">
                <button class="form-control btn btn-secondary ml-1" id="login-btn" type="submit">Entrar</button>
            </form>
        </div>
        {{/unless}}
        {{#if user }}
        <!-- Widget do usuário logado -->
        <div class="navbar-nav flex-row justify-content-end" id="user-widget">
            <span class="navbar-text text-white font-weight-bold" id="user-name">{{ user }}</span>
            <span class="navbar-text ml-2">/</span>
            <form class="nav-item" id="logout-form" action="/logout" method="POST">
                <button class="nav-link fake-button-link" id="logout-btn" type="submit">Sair</button>
            </form>
        </div>
        {{/if}}
    </div>
</nav>