<div class="post">
    <h2>{{ title }}</h2>
    <span class="h5">Publicado por: {{ creator.fullName }}</span>
    <br>
    <span>Postado em: {{ dateTime createdAt }}</span>
    <br><br>
    <div>{{{ markdown content }}}</div>
</div>