<!-- Pesquisa -->
<form class="form-inline" method="GET" action="/posts">
    <input class="form-control w-100" name="q" type="search" placeholder="Pesquisar...">
</form>
<!-- Categorias -->
<div class="card my-2">
    <div class="card-header">Categorias</div>
    <div class="card-body py-2 py-lg-3 d-lg-flex flex-row justify-content-around">
        <div class="d-inline d-lg-flex flex-column">
            <a href="#">Web design</a>
            <a href="#">HTML5</a>
            <a href="#">Node.js</a>
        </div>
        <div class="d-inline d-lg-flex flex-column">
            <a href="#">Javascript</a>
            <a href="#">Bootstrap</a>
        </div>
    </div>
</div>